.masthead
    h3.muted Quote Qalc
        .navbar
            .navbar-inner
                .container
                    ul.nav
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') Dashboard
                        li
                            a(href='#') Services
                        li
                            a(href='#') About
                        li
                            a(href='#') Contact