!!! 5
html(lang='en')
head
    title Welcome - The Qalculator App
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap 
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    //
       FontAwesome 
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    //
       CSS 
    link(href='css/style.css', rel='stylesheet')
    link(href='./css/bootstrap-responsive.css', rel='stylesheet')
    //
       Social buttons 
    link(href='css/social-buttons.css', rel='stylesheet')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand Qalculator
          .nav-collapse
            //
               Other nav bar content 
            ul.nav
              ul.nav.navbar-nav
                li
                  a(href='/QalcSelect')
                    i.icon-home
                    | Home
                li
                  a(href='/MyQalc')
                    i.icon-th-large
                    | My Qalculators
                li
                  a(href='/offerF')
                    i.icon-usd
                    | My Offers
            ul.nav.navbar-nav.pull-right
              li
                a(href='/login')
                  i.icon-off
                  | Logout
              li
                a(href='/login')
                  i.icon-wrench
                  | Setting
    br
    br
    br
    .container
      .span9
        .btn-group
          button.btn.active All
          button.btn Saved
          button.btn Offers
          button.btn Pending
      .span9
        .row-fluid
          ul.thumbnails
            li.span3
              .thumbnail(style='padding: 0;')
                div(style='padding: 4px;')
                  img(alt='300x200', style='width: 100%;', src='img/13.jpg')
                .caption
                  h2 Qalc A
                  p Car description
                .modal-footer
                  .row-fluid
                    .span4
                      b $15,000
                      br
                      small Quote
                    .span4
                      b 6%
                      br
                      small Interest
                    .span4
                      b 48
                      br
                      small Months
                    .span12(style='text-align: center;')
                      h3
                        | $352.28
                        small /mo
                .modal-footer(style='text-align: center;')
                  .btn-group
                    button.btn.btn-success Send
                    button.btn.btn-info Edit
            li.span3
              .thumbnail(style='padding: 0;')
                div(style='padding: 4px;')
                  img(alt='300x200', style='width: 100%;', src='img/14.jpg')
                .caption
                  h2 Qalc B
                  p Car description
                .modal-footer
                  .row-fluid
                    .span4
                      b $15,000
                      br
                      small Quote
                    .span4
                      b 6%
                      br
                      small Interest
                    .span4
                      b 48
                      br
                      small Months
                    .span12(style='text-align: center;')
                      h3
                        | $352.28
                        small /mo
                .modal-footer(style='text-align: center;')
                  .btn-group
                    button.btn(disabled='disabled') Pending
                    //
                       <button class="btn btn-info">Edit</button> 
            li.span3
              .thumbnail(style='padding: 0;')
                div(style='padding: 4px;')
                  img(alt='300x200', style='width: 100%;', src='img/15.jpg')
                .caption
                  h2 Qalc C
                  p Car description
                .modal-footer
                  .row-fluid
                    .span4
                      b $15,000
                      br
                      small Quote
                    .span4
                      b 6%
                      br
                      small Interest
                    .span4
                      b 48
                      br
                      small Months
                    .span12(style='text-align: center;')
                      h3
                        | $352.28
                        small /mo
                .modal-footer(style='text-align: center;')
                  .btn-group
                    button.btn.btn-danger
                      | Offers
                      span.badge.badge-inverse 1
                    //
                       <button class="btn btn-info">Edit</button> 
            li.span3
              .thumbnail(style='padding: 0;')
                div(style='padding: 4px;')
                  img(alt='300x200', style='width: 100%;', src='img/16.jpg')
                .caption
                  h2 Qalc D
                  p Car description
                .modal-footer
                  .row-fluid
                    .span4
                      b $15,000
                      br
                      small Quote
                    .span4
                      b 6%
                      br
                      small Interest
                    .span4
                      b 48
                      br
                      small Months
                    .span12(style='text-align: center;')
                      h3
                        | $352.28
                        small /mo
                .modal-footer(style='text-align: center;')
                  .btn-group
                    button.btn.btn-danger
                      | Offers
                      span.badge.badge-inverse 2
                    //
                       <button class="btn btn-info">Edit</button> 
        //
          /row
      //
        /span
    //
      /row
    //
      /body
    .container
      .row-fluid
        .span12
          .span8
            a(href='#') Terms of Service
            a(href='#') Privacy
            a(href='#') Security
          .span4
            p.muted.pull-right © 2013 Calculator App. All rights reserved
    script(src='./js/jquery.js')
    script(src='./js/bootstrap.js')
