!!! 5
html(lang='en')
head
    title Welcome - The Qalculator App
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap 
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    //
       FontAwesome 
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    //
        CSS 
    link(href='css/style.css', rel='stylesheet')
    link(href='./css/bootstrap-responsive.css', rel='stylesheet')
    //
        Social buttons 
    link(href='css/social-buttons.css', rel='stylesheet')


  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand Qalculator
          .nav-collapse
            //
               Other nav bar content 
            ul.nav
              ul.nav.navbar-nav
                li
                  a(href='/QalcSelect')
                    i.icon-home
                    | Home
                li
                  a(href='/MyQalc')
                    i.icon-th-large
                    | My Qalculators
                li
                  a(href='/OfferF')
                    i.icon-usd
                    | My Offers
            ul.nav.navbar-nav.pull-right
              li
                a(href='/Login')
                  i.icon-off
                  | Logout
              li
                a(href='/Login')
                  i.icon-wrench
                  | Setting
    br
    br
    br
    .container
      .tabbable
        ul.nav.nav-tabs
         
          li
            a(href='#pane2', data-toggle='tab')
              i.icon-th-list
              | Quotes
          li
            a(href='#pane3', data-toggle='tab')
              i.icon-th
              | Grid View
      .tab-content
        .tab-content
          
          #pane2.tab-pane
            #main
              table#sorter.sortable
                thead
                  tr
                    th Company
                    th Interest Rate
                    th Amount
                    th.sorttable_nosort Status
                tr
                  td Chase
                  td 6
                  td 9876541
                  td
                    button.btn.btn-primary Accept
                    button.btn.btn-danger Reject
                tr
                  td Wells fargo
                  td 9
                  td 1238
                  td
                    button.btn.btn-primary Accept
                    button.btn.btn-danger Reject
                tr
                  td BOA
                  td 8
                  td 987356
                  td
                    button.btn.btn-primary Accept
                    button.btn.btn-danger Reject
                tr
                  td Discover
                  td 10
                  td 20000
                  td
                    button.btn.btn-primary Accept
                    button.btn.btn-danger Reject
                tr
                  td HSBC
                  td 15
                  td 100000
                  td
                    button.btn.btn-primary Accept
                    button.btn.btn-danger Reject
                  
          #pane3.tab-pane
            .span9
            .span9
              .row-fluid
                ul.thumbnails
                  li.span3
                    .thumbnail(style='padding: 0;')
                      div(style='padding: 4px;')
                        img(alt='300x200', style='width: 100%;', src='img/Acura.jpg')
                      .caption
                        h2 Offer A
                        p Car description
                        p
                          i.icon.icon-map-marker
                          | City, State
                      .modal-footer
                        .row-fluid
                          .span4
                            b $15,000
                            br
                            small Quote
                          .span4
                            b 6%
                            br
                            small Interest
                          .span4
                            b 48
                            br
                            small Months
                          .span12(style='text-align: center;')
                            h3
                              | $352.28
                              small /mo
                      .modal-footer(style='text-align: center;')
                        .btn-group
                          button.btn.btn-primary(disabled='disabled') Accepted
                  li.span3
                    .thumbnail(style='padding: 0;')
                      div(style='padding: 4px;')
                        img(alt='300x200', style='width: 100%;', src='img/Toyota.jpg')
                      .caption
                        h2 Offer B
                        p Car description
                        p
                          i.icon.icon-map-marker
                          | City, State
                      .modal-footer
                        .row-fluid
                          .span4
                            b $15,000
                            br
                            small Quote
                          .span4
                            b 6%
                            br
                            small Interest
                          .span4
                            b 48
                            br
                            small Months
                          .span12(style='text-align: center;')
                            h3
                              | $352.28
                              small /mo
                      .modal-footer(style='text-align: center;')
                        .btn-group
                          button.btn.btn-danger(disabled='disabled') Rejected
                  li.span3
                    .thumbnail(style='padding: 0;')
                      div(style='padding: 4px;')
                        img(alt='300x200', style='width: 100%;', src='img/Honda.jpg')
                      .caption
                        h2 Offer C
                        p Car description
                        p
                          i.icon.icon-map-marker
                          | City, State
                      .modal-footer
                        .row-fluid
                          .span4
                            b $15,000
                            br
                            small Quote
                          .span4
                            b 6%
                            br
                            small Interest
                          .span4
                            b 48
                            br
                            small Months
                          .span12(style='text-align: center;')
                            h3
                              | $352.28
                              small /mo
                      .modal-footer(style='text-align: center;')
                        .btn-group
                          button.btn.btn-primary(disabled='disabled') Accepted
              //
                /row
            //
              /span
        //
           /.tab-content 
    .container
      .row-fluid
        .span12
          .span8
            a(href='#') Terms of Service
            a(href='#') Privacy
            a(href='#') Security
          .span4
            p.muted.pull-right ? 2013 Qalculator App. All rights reserved
   
    script(src='./js/jquery.js')
    script(src='./js/bootstrap.js')
    script(src='js/jquery.js', type='text/javascript')
    script(src='js/sorttable.js', type='text/javascript')
    style(type='text/css')
      #main {
      padding: 5px;
      }
      #main td {
      border: 1px solid #000000;
      padding: 3px;
      font-size: .9em;
      }
      #main th {
      border: 1px solid #000000;
      background-color: #CCFFCC;
      }