@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.left {
    float:left;
}

.clear {
    clear:both;
}

.login {
    float: right;
    margin-right: 100px;
}

.image {
    float:  left;
    margin-left: 100px;
}

.body {
    float: left;
    margin-left: 190px;
}
